@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: jost, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

body {
  background-color: #F2F4FF;
  margin: 0;
}

button {
  border-radius: 6px;
  border-style: none;
  padding: .5rem;
}

.logo {
  background-image: url("./assets/suggestions/mobile/background-header.png");
  color: #FFFFFF;
  width: 100%;
  padding: .5rem;
}

.suggestionsHeader {
  background-color: #373f68;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.addFeedback {
  background-color: #AD1FEA;
  color:#FFFFFF;
  align-self: flex-end;
}

.filterContainer {
  background-color: #FFFFFF;
  display: block;
}

.filterContainer button {
  background-color: #F2F4FF;
  color: #4661E6;
  gap: 2rem;
}

.suggestionsContainer {
  max-width: 370px;
  margin: 2rem auto;
}
.suggestionCard, form {
  background-color: #FFFFFF;
  padding: 2rem;
  margin: 1rem;
  border-radius: 6px;
}

input, select {
  background-color: #F2F4FF;
  border-style: none;
}

.cardCategoryButton {
  background-color: #F2F4FF;
  color: #4661E6;
}

.cancelButton {
  background-color: #373f68;
  color: #FFFFFF
}

/* #logo {
  grid-area: logo;
}

#suggestionHeader {
  grid-area: suggestionHeader;
}

#filterContainer {
  grid-area: filterContainer;
}

#suggestionsContainer {
  grid-area: suggestionsContainer;
} */

 @media (min-width:600px)  {

  .logo {
    background-image: url("./assets/suggestions/tablet/background-header.png");
  }
  
  #root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo filterContainer ."
    "logo filterContainer ."
    "suggestionHeader suggestionHeader suggestionHeader"
    "suggestionsContainer suggestionsContainer suggestionsContainer"
    "suggestionsContainer suggestionsContainer suggestionsContainer"
    "suggestionsContainer suggestionsContainer suggestionsContainer"
    "suggestionsContainer suggestionsContainer suggestionsContainer";
    margin: 16px;
    padding: 8px;
    align-items: center;
  }


.logo {
  grid-area: logo;
}

.suggestionHeader {
  grid-area: suggestionHeader;
}

.filterContainer {
  grid-area: filterContainer;
}

.suggestionsContainer {
  grid-area: suggestionsContainer;
}

}


@media (min-width:1025px) {
  
  .logo {
    background-image: url("./assets/suggestions/desktop/background-header.png");
  }
  
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo   suggestionHeader suggestionHeader suggestionHeader"
    "logo  suggestionsContainer suggestionsContainer suggestionsContainer"
    "filterContainer suggestionsContainer suggestionsContainer suggestionsContainer"
    "filterContainer suggestionsContainer suggestionsContainer suggestionsContainer"
    ". suggestionsContainer suggestionsContainer suggestionsContainer"
    ". suggestionsContainer suggestionsContainer suggestionsContainer"
    ". suggestionsContainer suggestionsContainer suggestionsContainer";
    margin: 16px;
    padding: 8px;
    align-items: center;
  
  }

.logo {
  grid-area: logo;
}

.suggestionHeader {
  grid-area: suggestionHeader;
}

.filterContainer {
  grid-area: filterContainer;
}

.suggestionsContainer {
  grid-area: suggestionsContainer;
}
  
} 