@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: jost, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: #F2F4FF;
  display: flex;
  place-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 6px;
  border-style: none;
  padding: .5rem;
}

.logo {
  background-image: url("./assets/suggestions/mobile/background-header.png");
  color: #FFFFFF;
  width: 100vw;
  padding: .5rem;
}

.suggestionsHeader {
  background-color: #373f68;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  place-items: center;
}

.addFeedback {
  background-color: #AD1FEA;
  color:#FFFFFF;
  align-self: flex-end;
}

.filterContainer {
  background-color: #FFFFFF;
  display: inline;
}

.filterContainer button {
  background-color: #F2F4FF;
  color: #4661E6;
  gap: 2rem;
}

.suggestionsContainer {
  max-width: 370px;
  margin: 2rem auto;
}
.suggestionCard, form {
  background-color: #FFFFFF;
  padding: 2rem;
  margin: 1rem;
  border-radius: 6px;
}

input, select {
  background-color: #F2F4FF;
  border-style: none;
}

.cardCategoryButton {
  background-color: #F2F4FF;
  color: #4661E6;
}

.cancelButton {
  background-color: #373f68;
  color: #FFFFFF
}

#logo {
  grid-area: logo;
}

#suggestionHeader {
  grid-area: suggestionHeader;
}

 @media (min-width:380px)  {
  .logo {
    background-image: url("./assets/suggestions/tablet/background-header.png");
  }
  
  body {
    background-color: yellow;
  }
}


@media (min-width:1025px) {
  .logo {
    background-image: url("./assets/suggestions/desktop/background-header.png");
  }
  
  body {
    background-color: red;
  }
} 