 body {
     background-color: #F7F8FD;
     color: #373f68;
     display: grid;
 }

 Link {
     text-decoration: none;
 }

 textarea {
     background-color: #F7F8FD;
     width: 90%;
 }

 #plusIcon {
    /* background-color: linear-gradient(45deg, var(#373f68),var(purple)); */
    background-color: purple;
    border-radius: 100%;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    position:absolute;
    top: 75px;
 }
 
 #buttonContainer {
     display: flex;
     flex-direction: row-reverse;
     gap: .5rem;
     align-items: self-start;
     width: 100%;
 }

 form button {
     width: 50%;
     min-width: 105px;
 }

  #formContainer {
     grid-area: suggestionsContainer;
 } 

 :required {
     border-color: #d73738;
 }

 option:hover,
 option:focus {
     background: plum;
 }

 @media (min-width:420px) {
     /* #formContainer {
    display: block;
    flex-direction: column;
    align-content: center;
    width: 100%;
}  */

     #buttonContainer {
         flex-direction: row-reverse;
         justify-content: end;
         width: 100%;
     }

     form button {
         width: 25%;
     }
 }

 @media (min-width:750px) {}

 @media (min-width:1000px) {}