 body {
     background-color: #F7F8FD;
     color: #373f68;
     display: grid;
 }

 Link {
     text-decoration: none;
 }

 textarea {
     background-color: #F7F8FD;
     width: 90%;
 }

 #plusIcon {
   
    border-radius: 10%;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    position:absolute;
    top: 120px;
 }
 
 #buttonContainer {
     display: flex;
     flex-direction: row-reverse;
     gap: .5rem;
     align-items: self-start;
     width: 100%;
 }

 form button {
     width: 50%;
     min-width: 105px;
 }

  #formContainer {
     grid-area: suggestionsContainer;
 } 

 option:hover,
 option:focus {
     background: plum;
 }

 @media (min-width:420px) {
     
     #buttonContainer {
         flex-direction: row-reverse;
         justify-content: end;
         width: 100%;
     }

     form button {
         width: 25%;
     }

     #plusIcon {
        border-radius: 100%;
        padding: .5rem;
        width: 2rem;
        height: 2rem;
        position:absolute;
        top: 215px;
     }
 }

 @media (min-width:750px) {
    #plusIcon {
        border-radius: 100%;
        padding: .5rem;
        width: 2rem;
        height: 2rem;
        position:absolute;
        top: 175px;
     }
 }
